@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@theme {
   --breakpoint-xs: 20rem;


  --color-primaryColor: #013941;
  --color-customGray-100: #F7F7F7;
  --color-customGray-200: #E0E0E0;
  --color-customGray-300: #828282


}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  scroll-padding-top: 150px;
}




body {
  font-weight: 400;
  font-family: var(--font-outfit);
}
